.field.choice {
    .read-more {
        margin-left: 10px;
        font-size: 12px;
        text-decoration: underline;
    }
}

.subscription-option-modal {
    .modal-content {
        padding: 20px;
    }
}